<%= form_with model: @article, local: true do |form| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
            <h2>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </p>
 
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <%= form.select :category_id, options_for_select(Category.all.map{|cat|[cat.name,cat.id]})  %>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>    