<h1>Listing</h1>



<%= link_to 'Créer un nouvel article', new_article_path %>


<% @articles.each do |article|%>

      <div class="card mb-4" style="margin-top:30px">
        <img class="card-img-top" src="<%= article.image_url.presence ||  'https://i.giphy.com/media/xTka034bGJ8H7wH1io/giphy.webp'%>"  
           alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= article.title %></h2>
          <p class="card-text"><%= article.content %></p>
          <span class="badge badge-success"><%= Category.find(article.category_id).name %></span>
          <br>
          <%= link_to 'Voir →', article_path(article), { :class=>"btn btn-primary" } %>
        </div>
        <div class="card-footer text-muted">
          Posté le <%= article.created_at.strftime('%d-%m-%Y') %> by
          <a href="#">Start Bootstrap</a>
        </div>
      </div>

 <% end %>


