<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Content:</strong>
    <%= @article.content %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>

    <%= link_to 'Modifier', edit_article_path(@article) %> |
    <%= link_to 'Supprimer', articles_path %>
<% else %>
    <%= link_to 'Se connecter', user_session %>
<% end %>
<br>
<%= link_to 'Retour', articles_path %>