



<%
=begin%>
 <p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Content:</strong>
    <%= @article.content %>
</p> 
<%
=end%>

      <div class="card mb-4" style="margin-top:30px">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= @article.title %></h2>
          <p class="card-text"><%= @article.content %></p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posté le <%= @article.created_at.strftime('%d-%m-%Y') %> by
          <a href="#">Start Bootstrap</a>
        </div>
      </div>




<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Retour', articles_path %> |
<%= link_to 'Modifier', edit_article_path(@article) %> |
<%= link_to 'Supprimer', articles_path %>